<form class="form-share" (ngSubmit)="submit()" [formGroup]="momentForm" #formDir="ngForm">
  <input type="hidden" formControlName="id" />
  <div class="form-group">
    <label for="title">Título</label>
    <input type="text" placeholder="Title" formControlName="title" />
    <div *ngIf="title.invalid && formDir.submitted"  class="validation-erros">
      <p>Empty Title</p>
    </div>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea placeholder="Describe your moment" formControlName="description" cols=20 rows=5></textarea>
    <div *ngIf="description.invalid && formDir.submitted"  class="validation-erros">
      <p>Empty Description</p>
    </div>
  </div>
  <div class="form-group">
    <label for="file">Upload a photo</label>
    <input type="file" (change)="onFileSelected($event)" />
  </div>
  <div class="form-group">
    <input type="submit" value="{{ btnText }}" />
  </div>
</form>
